.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 150px;
  padding-bottom: 40px;
  h1 {
    font-family: "Luckiest Guy";
    font-size: 40px;
    color: var(--purple-battlezombie);
    text-align: center;
  }
  img {
    width: 200px;
  }
}
@media (max-width: 1000px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    h1 {
      font-family: "Luckiest Guy";
      font-size: 35px;
      color: var(--purple-battlezombie);
      text-align: center;
    }
  }
}
@media (max-width: 400px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    h1 {
      font-family: "Luckiest Guy";
      font-size: 15px;
      color: var(--purple-battlezombie);
      text-align: center;
    }
    img {
      width: 120px;
    }
  }
}
