.board {
  display: grid;
  width: 500px;
  height: 500px;
  div{
    height:50px !important;
  }
}
.container {
  display: flex;
  margin: 20px;
}
.playboard {
  margin-left: 100px;
  display: grid;
  width: 500px;
  height: 500px;
}
.click{
  width: 100%;
}
