<div class="container">
  <div *ngIf="!status">
    <div>
      <input
        type="text"
        placeholder="Ingresa tu nickname"
        [formControl]="name"
      />
    </div>
    <div
      class="board"
      [ngStyle]="{
        gridTemplateColumns: 'repeat(' + columns + ', 1fr)',
        gridTemplateRows: 'repeat(' + rows + ', 1fr)'
      }"
    >
      <ng-container *ngFor="let row of board; let i = index">
        <ng-container *ngFor="let tile of row; let j = index">
          <div
            (click)="selectTile(i, j)"
            [ngStyle]="{
              background:
                colorTile[i][j] == 0
                  ? 'url(../assets/gramaclara.png) 0% 0% / cover'
                  : 'url(../assets/gramaoscura.png) 0% 0% / cover'
            }"
          >
        
          <img *ngIf="board[i][j]==1" src="../assets/zombie.png" class="click">
        
        </div>
        </ng-container>
      </ng-container>
    </div>
    <div class="margin-top">
      <button (click)="startGame()">Iniciar Juego</button>
    </div>
  </div>
</div>

<ng-container *ngIf="status">
  <h1>{{ currentGame.player1.name }}</h1>
  <h1>Puntuación: {{ scorePlayer1 }}</h1>
  <h2>({{ currentGame.player1.turn ? "Es tu turno" : "Espera tu turno" }})</h2>
  <div class="container">
    <!-- board blocked Player 1-->
    <div
      class="board"
      [ngStyle]="{
        gridTemplateColumns: 'repeat(' + columns + ', 1fr)',
        gridTemplateRows: 'repeat(' + rows + ', 1fr)'
      }"
    >
      <ng-container
        *ngFor="let rowGame of currentGame.player1.selectedBoard; let i = index"
      >
        <ng-container *ngFor="let gameTile of rowGame; let j = index">
          <div
            [ngStyle]="{
              background:
                currentGame.player1.selectedBoard[i][j] === 1
                  ? 'url(../assets/zombie.png)'
                  : currentGame.player1.selectedBoard[i][j] === -1
                  ? 'blue'
                  : currentGame.player1.selectedBoard[i][j] === 2
                  ? 'purple'
                  : colorTile[i][j] == 0
                  ? 'url(../assets/gramaclara.png) 0% 0% / cover'
                  : 'url(../assets/gramaoscura.png) 0% 0% / cover'
              
            }"
          >
          <img *ngIf="board[i][j]==1" src="../assets/zombie.png" class="click">
        </div>
        </ng-container>
      </ng-container>
    </div>

    <!-- PLayboard player 1 -->

    <div
      class="playboard"
      [ngStyle]="{
        gridTemplateColumns: 'repeat(' + columns + ', 1fr)',
        gridTemplateRows: 'repeat(' + rows + ', 1fr)'
      }"
    >
      <ng-container *ngFor="let rowGame of playBoard; let i = index">
        <ng-container *ngFor="let gameTile of rowGame; let j = index">
          <div
            (click)="selectPlayBoard(i, j)"
            [ngStyle]="{
              background:
                playBoard[i][j] === 1
                  ? 'url(../assets/muerto.png)'
                  : playBoard[i][j] === 2
                  ? 'url(../assets/zombie.jpg)'
                  : colorTile[i][j] == 0
                  ? 'url(../assets/gramaclara.png) 0% 0% / cover'
                  : 'url(../assets/gramaoscura.png) 0% 0% / cover'
            
            }"
          ></div>
        </ng-container>
      </ng-container>
    </div>
  </div>
  <hr />

  <h1>{{ currentGame.player2.name }}</h1>
  <h1>Puntuación: {{ scorePlayer2 }}</h1>
  <h2>({{ currentGame.player2.turn ? "Es tu turno" : "Espera tu turno" }})</h2>
  <div class="container">
    <!-- board blocked Player 2-->
    <div
      class="board"
      [ngStyle]="{
        gridTemplateColumns: 'repeat(' + columns + ', 1fr)',
        gridTemplateRows: 'repeat(' + rows + ', 1fr)'
      }"
    >
      <ng-container
        *ngFor="let rowGame of currentGame.player2.selectedBoard; let i = index"
      >
        <ng-container *ngFor="let gameTile of rowGame; let j = index">
          <div
            [ngStyle]="{
              background:
                currentGame.player2.selectedBoard[i][j] === 1
                  ? 'url(../assets/zombie.jpg)'
                  : currentGame.player2.selectedBoard[i][j] === -1
                  ? 'blue'
                  : currentGame.player2.selectedBoard[i][j] === 2
                  ? 'purple'
                  : colorTile[i][j] == 0
                  ? 'url(../assets/gramaclara.png) 0% 0% / cover'
                  : 'url(../assets/gramaoscura.png) 0% 0% / cover'
            
            }"
          ></div>
        </ng-container>
      </ng-container>
    </div>

    <!-- PLayboard player 2 -->

    <div
      class="playboard"
      [ngStyle]="{
        gridTemplateColumns: 'repeat(' + columns + ', 1fr)',
        gridTemplateRows: 'repeat(' + rows + ', 1fr)'
      }"
    >
      <ng-container *ngFor="let rowGame of playBoard2; let i = index">
        <ng-container *ngFor="let gameTile of rowGame; let j = index">
          <div
            (click)="selectPlayBoard(i, j)"
            [ngStyle]="{
              background:
                playBoard2[i][j] === 1
                  ? 'yellow'
                  : playBoard2[i][j] === 2
                  ? 'brown'
                  : colorTile[i][j] == 0
                  ? 'url(../assets/gramaclara.png) 0% 0% / cover'
                  : 'url(../assets/gramaoscura.png) 0% 0% / cover'
              
            }"
          ></div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="finishGame">
  <h1>TERMINO LA PARTIDA</h1>
</ng-container>
